<!DOCTYPE html>
<html>

<head>
	<title>Ritchie Bros. Live Auction</title>
	<link href="assets/img/favicon.ico" rel="Shortcut Icon">
	<link type="text/css" rel="stylesheet" href="assets/css/style.css">

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="js--body js--data-container CAD">

	<div class="wrapper">

		<div class="bidding-area">

			<div class="bidding-header">
				<div class="current-prices">
					<div class="price ccy auction-ask">
						<label>Ask:</label>
						<span class="dollars" rv-html="bids.content.current.ask | price"></span>
					</div>
					<div class="price ccy auction-bid">
						<label>Bid:</label>
						<span class="dollars" rv-html="bids.content.current.bid | price"></span>
					</div>
				</div>
			</div>

			<div class="proposals-area">
				<div id="proposal" rv-addtextclass="bids.content.proposal.type" rv-class-s-interest="bids.content.interested | lengthToBool">
					<div class="proposal--bid" rv-if="bids.content.current.status | compare 'sold'">
						<div class="h-va-center">
							Sold
							<span rv-unless="bids.content.current.location | compare 'On Site'"> Internet </span>
							<span rv-if="bids.content.current.location | compare 'On Site'">On Site</span>
						</div>
					</div>
					<div class="proposal--bid" rv-show="bids.content.proposal.type | compare 'internetbid,maxbid,openingoffer'">
						<div class="h-va-center">
							<span class="dollars" rv-html="bids.content.proposal.bid | price"></span>
						</div>
					</div>
					<div class="proposal--meta g-wrapper" rv-show="bids.content.proposal.type | compare 'internetbid,maxbid,openingoffer'">
						<div class="g-cell h-ta-left">
							<span rv-unless="bids.content.current.location | compare 'On Site'"> Internet </span>
							<span rv-if="bids.content.current.location | compare 'On Site'">On Site</span>
						</div>
						<div class="g-cell h-ta-right">{ bids.content.proposal.location }</div>
					</div>
				</div>

				<div class="current-high-bid">
					<h3>Current High Bid</h3>
					<span rv-if="bids.content.current.status | compare 'waiting'">Waiting for a bid</span>
					<div rv-unless="bids.content.current.status | compare 'waiting'">
						<div rv-if="bids.content.current.location | compare 'On Site'">
							On Site
						</div>
						<div class="g-wrapper" rv-unless="bids.content.current.location | compare 'On Site'" class="h-ta-center">
							<div class="g-cell">
								<span rv-if="bids.content.current.status | compare 'sold'">{bids.content.current.bidder}</span>
								<span rv-unless="bids.content.current.status | compare 'sold'">Internet</span>
							</div>
							<div class="g-cell h-ta-right">{ bids.content.current.location }</div>
						</div>
					</div>
				</div>
			</div>


			<div class="bidding--footer g-wrapper">
				<div class="g-cell">
					<span>Auctioneer: </span>{ bids.content.auctioneer }
				</div>
				<div class="g-cell h-ta-right">
					<span>eClerk: </span>{ bids.content.clerk }
				</div>
			</div>
		</div>

	</div>

	<div class="prototype-controls js--proto-controls">
		<button class="prototype--hide" rv-on-click="controller.hideControls">{ bids.controlText }</button>
		<!-- <button rv-on-click="controller.seedData">Load Sample Data</button> -->
		<div>
			<label>Bidding</label>
			<button rv-on-click="controller.proposeBid" rv-disabled="bids.content.proposal.bid">Propose Bid</button>
			<button rv-on-click="controller.acceptProposal" rv-disabled="bids.content.proposal.bid | invert">Accept Bid</button>
			<br/>
			<button rv-on-click="controller.onsiteBid">On Site Bid</button>
		</div>
		<div>
			<label>Selling</label>
			<button rv-on-click="controller.sellLot">Sell Lot</button>
		</div>
		<div>
			<label>Interested Bidders</label>
			<button rv-on-click="controller.showInterest">Add Interested User</button>
			<button rv-on-click="controller.clearInterest">Clear Interested</button>
		</div>
		<button rv-on-click="controller.reset">Reset</button>
	</div>


	<script type="text/javascript" src="assets/js/min/main-min.js"></script>

</body>

</html>