.bidding-area {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 9rem auto 6rem 6rem;
  grid-template-columns: 1fr 1fr;
  padding: 0.8rem;
}

.bidding-header {
  grid-row-start: 1;
  grid-row-end: 2;

  grid-column-start: 1;
  grid-column-end: 3;
}

.current-prices {
  label {
    text-transform: uppercase;
    display: inline-block;
    width: 25%;
    text-align: right;
  }
}

.auction-ask {
  @include fontsize(800);
  margin-bottom: 10px;
}

.auction-bid {
  @include fontsize(600);
}

.interested {
  margin: 20px 0;
}

.interested--bidder {
  margin-right: 10px;

  &:not(:last-child):after {
    content: ",";
  }
}

.proposals-area {
  grid-row-start: 2;
  grid-row-end: 3;

  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
}

#proposal {
  flex: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0.8rem;

  margin: 0 -0.8rem;

  &.s-interest {
    background-color: palette(yellow);
  }

  &.s-siteon {
    background-color: black;
  }

  &.s-openingoffer,
  &.s-maxbid {
    background-color: palette(blue);
  }

  &.s-internetbid,
  &.s-internetbidwinner,
  &.s-internetbidrunnerup {
    background-color: palette(red);

    .proposal--bid {
      animation-name: fadeinout;
      animation-iteration-count: infinite;
      animation-duration: 1s;
      animation-timing-function: ease-in-out;
    }
  }

  &.s-interneton {
    background-color: palette(green);
  }

  &.s-maxon {
    background-color: palette(orange);
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  45% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  95% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.proposal--header {
  @include fontsize(100);
  text-transform: uppercase;
  margin-top: 10px;
}

.proposal--bid {
  flex: auto;
  position: relative;
  @include fontsize(1000);
}

.proposal--meta {
  margin-top: auto;
  @include fontsize(600);
}

.proposals--max {
  padding: 10px;
  background-color: white;
  color: black;
  text-align: center;
  font-weight: 700;
  margin-top: auto;
}

.current-high-bid {
  grid-row-start: 3;
  grid-row-end: 4;

  grid-column-start: 1;
  grid-column-end: 3;
  padding-top: 0.8rem;
  @include fontsize(400);
}

.bidding--auctioneer {
  grid-row-start: 4;
  grid-row-end: 5;

  grid-column-start: 1;
  grid-column-end: 2;
  align-self: center;
  @include fontsize(300);
}

.bidding--clerk {
  grid-row-start: 4;
  grid-row-end: 5;

  grid-column-start: 2;
  grid-column-end: 3;
  align-self: center;
  @include fontsize(300);
}
